streamlit
fastapi
uvicorn
requests
sqlalchemy
psycopg2-binary
pydantic
networkx
pandas
openpyxl
pdfminer.six
python-dotenv
matplotlib
python-multipart
langchain
langchain-community
openai
PyMuPDF
pdfplumber
pytesseract
Pillow
python-docx
beautifulsoup4
